.antirobot * {
  transition: 0.5s;
}

.antirobot input[type=checkbox] + label  {
  border: solid 6px;
  display: inline-block;
  margin: 3px;  
  width: 50px;  
  border-radius: 10px;
  border-color: transparent;
  opacity: .5;
}



.antirobot input[type=checkbox]:checked + label  {	
	box-shadow: 0px 0px 10px #fff;	  
  background-color: #295;
	border-color: #295;	
  opacity: 1;
}

.antirobot input[type=checkbox] {  
  display: none !important;;
}




.antirobot label:hover,
.antirobot label img:hover {
	box-shadow: 0px 0px 10px #f00;
  border-color: #f00 ;
}


.antirobot .principal {
  width: 100%;	
	display: block;	
	margin-bottom: 5px;	    
}


.antirobot .mensaje {
  
	background-color: #34a;
	color: #fff;
	margin: 0px;	
	text-align: center;
	font-family: calibri;
  
  padding: 0.1em 0.5em;
  font-size: small;
}

.antirobot {
  background-color: #34a;
  display: inline-block;		
	text-align: center;
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 0px 2px;
  
}
